html, body{
    height:100%;
    width:100%;
    
}

main:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../images/cover.jpg");
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
}

.hide{
    display: none;
}
.red-force{
    background-color: #ba0d17;
    
}

.blue-force{
    background-color:#0079eb;
}

.you{
    background-color: #38a13c;
}
.def{
    background-color: #af8a1a;
    

}

.sRed{
    color:#ba0d17;
}

.sBlue{
    color:#0079eb;
}



h1, h2{
    color:#fff;
    font-weight: 900;
    text-align: start;
}

.read{
    color:#fff;
    font-weight: 900;
    text-align: start;
}


.wrapper, .a ,.b, .c, .wrap  {
    position: relative;
    /* color:red; */
    display:inline-block;
    width:180px;
    
}

.phase1, .phase2Hero, .phase2Enemy{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    flex:wrap;
}


.side{
   white-space:normal;
}

img{
    padding:20px;
    border:1px solid #9e9e9e;
    background-color:white;
    
    z-index: 1;
    

}

.txt, .hpEnemy, .hpHero{
    position: absolute;   
    bottom: 5px;
    left: 50%;
    z-index: 5;
    /* color:#000; */
    font-weight:900;
    margin-bottom:0;
}






